
@font-face {
  font-family: 'gamerobot';
  src: url('gamerobot.eot?#iefix') format('embedded-opentype'),  url('gamerobot.woff') format('woff'), url('gamerobot.ttf')  format('truetype'), url('gamerobot.svg#gamerobot') format('svg');
  font-weight: normal;
  font-style: normal;
}
